body{
    background-color: black;
    /* text-align: center; */
    color: white;
}

h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.alinhar p{
    width: 300px;
    margin: 20px;
    text-align: justify;
}

.alinhar{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.alinhar img {
    width: 250px;
    border-radius: 10px;
    margin-left: 30px;
}
