body{
    background-color: black;
    color: white;
}

header{
    width: 100%;
    background-color: rgb(33, 99, 99);
}

.alinhar-logo {
    width: 500px;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.alinhar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
} 

.logo {
    width: 50px;
    border-radius: 50px;
    align-items: flex-end;
}

h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.alinhar p{
    width: 300px;
    margin: 20px;
    text-align: justify;
}

.alinhar{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.alinhar img {
    width: 250px;
    border-radius: 10px;
    margin-left: 30px;
}




.nav-container {
    max-width: 1100px;
    margin: auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.menu li a:hover {
    background: #007bff;
    color: white;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}