body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 10px;
    color: white;
}

h1{
    color: #1caba7;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}


header{
    background-color: #0057b7;
    color: white;
    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    padding: 5px 0; 
}

main{
    margin-top: 120px;  
}

nav{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a {
    margin: 0 15px;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

main img{
    display: block;
    margin: 0 auto;
    width: 300px;
    border-radius: 10px;
}

section ul li{
    margin-bottom: 5px;
}

.INICIO{
    background-color:#c7c9cc;
}

footer{
    background-color: #003f86;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

html{
    scroll-behavior: smooth;
}
