body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #020617;
  color: #e5e7eb;
  text-align: center;
}

.neon-bg {
  background: radial-gradient(circle at top, #020617, #000);
}

.screen {
  display: none;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen.active {
  display: flex;
}

.neon-title {
  font-size: 56px;
  color: #22c55e;
  text-shadow: 0 0 20px #22c55e;
}

.neon-subtitle {
  color: #22c55e;
  text-shadow: 0 0 12px #22c55e;
}

.card {
  background: rgba(2, 6, 23, 0.85);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 0 25px rgba(34, 197, 94, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button, select, input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

button {
  background: #22c55e;
  color: #020617;
  cursor: pointer;
  box-shadow: 0 0 15px #22c55e;
}

.players {
  display: flex;
  gap: 40px;
}

.neon-box {
  background: rgba(2, 6, 23, 0.85);
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(34, 197, 94, 0.3);
}

canvas {
  background: #020617;
  border-radius: 14px;
  box-shadow: inset 0 0 25px rgba(34, 197, 94, 0.2);
}

.toggle {
  color: #e5e7eb;
  font-size: 14px;
}
